<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GALLERY</title>
    <style>
      .image-gallery {
        background: red;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 2fr 1fr 1fr;
      }
    </style>
  </head>
  <body>
    <section>
      <div class="image-gallery">
        <img
          src="https://images.twinkl.co.uk/tw1n/image/private/t_630/u/ux/albert-einstein-1933340-1920_ver_1.jpg"
          alt=""
        />
        <img
          src="https://images.twinkl.co.uk/tw1n/image/private/t_630/u/ux/albert-einstein-1933340-1920_ver_1.jpg"
          alt=""
        />
        <img
          src="https://images.twinkl.co.uk/tw1n/image/private/t_630/u/ux/albert-einstein-1933340-1920_ver_1.jpg"
          alt=""
        />
        <img
          src="https://images.twinkl.co.uk/tw1n/image/private/t_630/u/ux/albert-einstein-1933340-1920_ver_1.jpg"
          alt=""
        />
        <img
          src="https://images.twinkl.co.uk/tw1n/image/private/t_630/u/ux/albert-einstein-1933340-1920_ver_1.jpg"
          alt=""
        />
      </div>
    </section>
  </body>
</html>
